<!-- start Simple Custom CSS and JS -->
<style type="text/css">
h3.token-card__title {
  
  display:none;
}

.wp-block-button.meet-our-btn a {
    background: #162ADF;
    width: 200px;
}

.wp-block-button.contr-btn a {
    background: #A2AAF2;
   width: 200px;
}

.wp-block-button.advis-btn a {
    background: #162ADF;
   width: 200px;
}

.wp-block-button.meet-our-btn a:hover {
    background: #A2AAF2;
    width: 200px;
}

.wp-block-button.contr-btn a:hover {
    background: #162ADF;
   width: 200px;
}

.wp-block-button.advis-btn a:hover {
    background: #A2AAF2;
   width: 200px;
}

.border-seperator {
border-top:1px solid #EAEAEA;  
}


@media only screen and (min-width: 600px) {
.wp-block-button.advis-btn {
    margin-left: -60%;
}

.wp-block-button.meet-our-btn {
    margin-left: 200px;
}
}</style>
<!-- end Simple Custom CSS and JS -->
